@use '/src/styles/constants/colors';

.container {
  display: flex;
  flex-direction: column;
  height: 720px;
}

.logoContainer {
  margin-top: 50px;
  margin-left: 10px;

  .logo {
    width: 250px;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;

  .idInputLabel {
    display: none;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .idInput {
    height: 50px;
    padding-left: 15px;
    font-size: 16px;
    letter-spacing: 1px;
    border: 2px solid colors.$GRAYD;
    border-radius: 10px;
  }

  .errorMessage {
    margin-top: 2px;
    margin-left: 8px;
    font-size: 14px;
    color: colors.$RED;
  }

  .loginButton {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: colors.$MAIN_COLOR;
    border-radius: 10px;
  }
}
