@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.container {
  position: relative;
  margin-top: 30px;

  h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
  }

  .detail {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    font-size: 13px;
    color: colors.$SUB_TEXT_COLOR;
    border: 1px solid colors.$BORDER_COLOR;
    border-radius: 20px;
  }

  .compare {
    margin-top: 30px;
    font-weight: 300;
    line-height: 20px;
    white-space: pre-wrap;

    mark {
      font-weight: 500;
      background: linear-gradient(colors.$WHITE 50%, colors.$MAIN_COLOR 50%);

      &.increased {
        color: colors.$MARK_COLOR_INCREASED;
      }

      &.decreased {
        color: colors.$MARK_COLOR_DECREASED;
      }

      &.same {
        color: colors.$MARK_COLOR_SAME;
      }
    }
  }

  .textContainer {
    @include flexbox.flexbox(between, center);
    margin-top: 30px;

    .compare {
      margin-top: 0;
    }

    mark {
      font-weight: 500;
      color: colors.$MAIN_TEXT_COLOR;

      &.percent {
        background: linear-gradient(colors.$WHITE 50%, colors.$MAIN_COLOR 50%);
      }
    }
  }
}
