@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.container {
  margin-top: 20px;
  color: colors.$MAIN_TEXT_COLOR;

  .title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
  }

  .subText {
    font-weight: 300;
    line-height: 20px;

    span {
      font-weight: 400;
    }
  }
}
